<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//database.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mvc.mapper.UserMapper">

	<resultMap id="userDo" type="org.example.mvc.dataobject.UserDO">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
	</resultMap>

	<parameterMap id="userDo" type="org.example.mvc.dataobject.UserDO">

	</parameterMap>

	<sql id="sqlColumn">
		id,
		name,
		sex,
		age
	</sql>

	<select id="selectById" resultMap="userDo">
		SELECT
		<include refid="sqlColumn"></include>
		FROM
		user
		WHERE id = #{id}
		limit 1
	</select>

	<select id="selectByName" resultMap="userDo">
		SELECT
			<include refid="sqlColumn"></include>
		FROM
			user
		WHERE name = #{name}
	</select>

	<insert id="insert" parameterMap="userDo">
		INSERT INTO user(
			id,
			name,
			sex,
			age
		) VALUES (
			#{id},
			#{name},
			#{sex},
			#{age}
		)
		<!-- 保证 insert 后的 id 可以赋值到 userDo 中 -->
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>

	<select id="selectAll" resultMap="userDo">
		SELECT
		<include refid="sqlColumn"></include>
		FROM
		user
	</select>

</mapper>
